JWT_SECRET=your_jwt_secret_here
FRONTEND_URL=http://localhost:3000
MONGODB_URI=mongodb://localhost:27017/pokemontcg_db
MONGODB_DB_NAME=pokemontcg_db
GMAIL_USER=your-email@gmail.com
GMAIL_APP_PASSWORD=your-gmail-app-password
MIDTRANS_SERVER_KEY=SB-Mid-server-your-key
NODE_ENV=development
